.DashBoard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}

.TopBar {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.centeredContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BodyPanel {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}


.MainDiv {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.TimelogBox {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 55%;
    height: 90%;
}

.MainUserInfo {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 30%;
    height: 90%;
}
