.DashBoard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #181c25;
    overflow: hidden;
}

.Main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 1%;
    overflow: hidden;
}

.MainUserInfo1 {
    width: 25%;
    height: 100%;
    border-radius: 10px;
    background: #212b37;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #87ceeb;
}

.MainUserInfo2 {
    width: 72%;
    height: 100%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #87ceeb;
    overflow-y: hidden;
    overflow-x: hidden;
}

.infoUser {
    width: 100%;
}

.avatar {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10px;
}

.avatar img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.TopBar1 {
    width: 100%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
}

.TimelogBox {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
}

.TimelogBox1 {
    width: 32%;
    height: 100%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
}

.RoadblockContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px;
  overflow-x: hidden;
}

.RoadblockBox {
  width: 100%;
  height: 100%;
  background-color: #181c25;
  border: 1px solid #87ceeb;
  color: aliceblue;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.RoadblockBox h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RoadblockBox ul {
    list-style-type: disc;
    text-align: left;
}

.RoadblockBox p {
    text-align: left;
    font-size: x-large;
}

.HubContainer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 10px;
    overflow-x: hidden;
}

.HubBox {
    height: 60%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 10px;
    overflow-x: hidden;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
    padding: 2%;
}

.ActivityBox {
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: #181c25;
    color: aliceblue;
    border-radius: 4px;
    padding: 10px;
}

.ActivityBox ul {
    text-align: left;
    list-style-type: disc;
    margin-bottom: 10px;

}

.ActivityBox p {
    text-align: left;
    font-size: x-large;
}

.module-green {
    color: #90EE90;
}

.module-red {
    color: red;
}

.timelineBox {
    width: auto;
    height: auto;
    margin: 10px;
    background: #212b37;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
}

.timelineBox1 {
    width: 70%;
    height: 90%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
}

.infoTimeBox {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
}

.infoTimeBox1 {
    width: 35%;
    height: 42%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
    margin: 10px;
}

.infoTimeBox2 {
    width: 60%;
    height: 42%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
    margin: 10px;
}

.notifDiv {
    width: 20%;
    height: 50%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-content {
    background-color: #181c25;
    border: 1px solid #87ceeb;
    border-radius: 10px;
    padding: 20px;
    color: aliceblue;
}


.TimelogBox2 {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
}


.TimelogBox3 {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background: #212b37;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181c25;
    border: 1px solid #87ceeb;
    color: aliceblue;
}
