.SidePanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centeredContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
